{{define "docker"}}
TypesDB "{{Globals.PluginRoot}}/docker-collectd-plugin/dockerplugin.db"
LoadPlugin python

<Plugin python>
  ModulePath "{{Globals.PluginRoot}}/docker-collectd-plugin"
  Import "dockerplugin"

  {{range $instance := .}}
  <Module dockerplugin>
    BaseURL "{{$instance.Vars.url}}"
    Timeout 30
    Verbose false
    {{range $key, $value := $instance.Vars.extradimensions -}}
    Dimension "{{$key}}" "{{$value}}"
    {{end -}}
  </Module>
  {{end}}

</Plugin>

LoadPlugin match_regex
<Chain "PostCache">
  <Rule>
    <Match "regex">
      Plugin "^docker$"
    </Match>
    <Target "jump">
      Chain "FilterOutDetailedDockerStats"
    </Target>
  </Rule>

  Target "write"
</Chain>
<Chain "FilterOutDetailedDockerStats">
  <Rule "CpuUsage">
    <Match "regex">
      Type "^cpu.usage$"
    </Match>
    Target "return"
  </Rule>
  <Rule "MemoryUsage">
    <Match "regex">
      Type "^memory.usage$"
    </Match>
    Target "return"
  </Rule>
  <Rule "NetworkUsage">
    <Match "regex">
      Type "^network.usage$"
    </Match>
    Target "return"
  </Rule>
  <Rule "BlockIO">
    <Match "regex">
      Type "^blkio$"
      TypeInstance "^io_service_bytes_recursive*"
    </Match>
    Target "return"
  </Rule>

  Target "stop"
</Chain>
{{end}}
