{{define "mesos-master"}}
<LoadPlugin "python">
  Globals true
</LoadPlugin>

<Plugin "python">
  ModulePath "{{Globals.PluginRoot}}/mesos-collectd-plugin"

  Import "mesos-master"
  {{range $instance := .}}
  <Module "mesos-master">
    Cluster "{{$instance.Vars.cluster}}"
    Instance "{{$instance.Vars.instance}}"
    Host "{{$instance.Vars.host}}"
    Port {{$instance.Vars.port}}
    Verbose {{$instance.Vars.verbose}}
    IncludeSystemHealth {{$instance.Vars.systemhealth}}
  </Module>
  {{end}}
</Plugin>
{{end}}
