{{define "mesos-agent"}}
<LoadPlugin "python">
  Globals true
</LoadPlugin>

<Plugin "python">
  ModulePath "{{Globals.PluginRoot}}/mesos-collectd-plugin"

  Import "mesos-slave"
  {{range $instance := .}}
  <Module "mesos-slave">
    Cluster "{{$instance.Vars.cluster}}"
    Instance "{{$instance.Vars.instance}}"
    Host "{{$instance.Vars.host}}"
    Port {{$instance.Vars.port}}
    Verbose {{$instance.Vars.verbose}}
  </Module>
  {{end}}
</Plugin>
{{end}}
