{{define "mongodb"}}
LoadPlugin python
<Plugin "python">
  ModulePath "{{Globals.PluginRoot}}/mongodb-collectd-plugin"
  Import "mongodb"
  {{range $instance := .}}
    {{RenderPlugin $instance}}
  {{end}}
</Plugin>
{{end}}
