{{define "signalfx"}}
LoadPlugin python
TypesDB "{{Globals.PluginRoot}}/signalfx-collectd-plugin/types.db.plugin"
<Plugin python>
  ModulePath "{{Globals.PluginRoot}}/signalfx-collectd-plugin"
  LogTraces true
  Interactive false
  Import "signalfx_metadata"
  {{range $instance := .}}
  <Module signalfx_metadata>
    Notifications true
    URL "{{$instance.Vars.url}}/v1/collectd"
    Token "{{Secret "SFX_API_TOKEN"}}"
    NotifyLevel "OKAY"
  </Module>
  {{end}}
</Plugin>
{{end}}
