apiVersion: v1
data:
  agent.yaml: |

    # *Required* The access token for the org that you wish to send metrics to.
    signalFxAccessToken: ${SFX_ACCESS_TOKEN}

    procFSPath: /hostfs/proc

    logging:
      # Valid values are 'debug', 'info', 'warning', and 'error'
      level: info

    # globalDimensions will be added to every datapoint that gets sent by the agent
    globalDimensions:
      kubernetes_cluster: 'CLUSTER_NAME'
      kubernetes_role: master

    monitors:
      - type: collectd/signalfx-metadata

      - type: collectd/docker
        dimensions:
          container_image: inspect:Config.Image
          container_name: inspect:Name
          container_spec_name: inspect:Config.Labels['io.kubernetes.container.name']
          kubernetes_pod_name: inspect:Config.Labels['io.kubernetes.pod.name']
          kubernetes_namespace: inspect:Config.Labels['io.kubernetes.pod.namespace']
        serviceEndpoints:
          - dockerURL: unix:///var/run/docker.sock

    collectd:
      readThreads: 5
      writeQueueLimitHigh: 500000
      writeQueueLimitLow: 400000
      timeout: 40
      logLevel: notice

kind: ConfigMap
metadata:
  name: signalfx-agent-master
